<div class="card card-body text-center">

<% if flash[:allert] %>
		<p id="notice"><%= flash[:allert] %></p>
		<% end %>

<p style="font-size: 20px;"> <b>Welcome!</b> </p>

<p>
	<%= link_to 'Log Out', logout_url %>
</p>

<%= submit_tag "Currencies", :class=> 'btn btn-primary' %>


</div>